OggDudeData/Model/Skills.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Skills">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Skill">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Key" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element minOccurs="0" name="Source" type="xs:string" />
              <xs:element name="CharKey" type="xs:string" />
              <xs:element name="TypeValue" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>